.customer-data-page{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

#customer-page-subheading{
    text-align: center;
    font-size: 25px;
}

#customer-details-heading{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.customer-data-table{
    width: 800px;
    height: 200px;
}

.customer-add-btn{
    width: 200px;
    height: 3em;
    margin-left: 300px;
    margin-top: 50px;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.customer-add-btn:hover{
    transform: scale(1.25);
}

.data-row-entry-2{
    height: 50px;
}

.customer-input{
    height: 35px;
}













